
.form-condensed .email-area {
    width: 100%;
}
.form-condensed .email-area textarea {
    margin-bottom: 0;
    resize: vertical;
}
.form-condensed .email-area .base-message {
    padding: 0 10px;
    width: 100%;
}
.email-area {
    width: 500px;
}
.email-area textarea {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.email-area textarea.input-xlarge {
    width: 500px;
}
.email-area textarea {
    width: 100%;
}
.email-area .base-message {
    background-color: #eeeeee;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-color: -moz-use-text-color #cccccc #cccccc;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    display: block;
    font-weight: normal;
    margin-bottom: 10px;
    padding: 0 10px;
    width: 100%;
}
.email-area .base-message div {
    line-height: 32px;
}
.task-completed {
    color: #aaaaaa;
    text-decoration: line-through;
}
.sidebar-section h5.tasks-group-label {
    font-size: 14px;
    margin: 15px 0 5px;
}
.sidebar-section .task-sidebar-item ul {
    margin: 0 0 9px;
}
.sidebar-section .task-sidebar-item li {
    list-style-type: none;
    margin: 0;
}
.sidebar-section .task-sidebar-item li:hover a.edit-task {
    display: inline;
}
.sidebar-section .task-sidebar-item li a.edit-task {
    display: none;
}
.overdue, .remove {
    color: #eb212e;
}
.feed-list {
    border: 0 none !important;
    margin: 0;
    padding: 0 !important;
}
.feed-list .header {
    border: medium none;
    padding: 0;
}
.feed-list .feed-items {
    margin: 0;
}
.hide {
    display: none;
}
.cancel, .cancel-new {
    cursor: pointer;
}
.updates-note-form textarea {
    resize: vertical;
}
.tasks-popover .chzn-container {
    margin-bottom: 9px;
}
.tasks-popover .chzn-single {
    height: 27px;
    line-height: 28px;
    top: -3px;
}
.tasks-popover select[name="due-time"] {
    width: 91px;
}
.quote .sidebar-proposal-details {
    color: #aaaaaa;
    font-size: 12px;
    font-weight: normal;
}
.quote .sidebar-proposal-details span {
    border-left: 1px solid #bcc4c8;
    margin-left: 6px;
    padding-left: 6px;
    visibility: hidden;
}
.quote .accepted {
    color: #8cbf26;
}
.quote .declined {
    color: #eb212e;
}
.quote:hover {
    visibility: visible;
}
#addQuote .modal-body {
    max-height: 450px;
}
#addQuote img {
    margin: 10px;
    width: 42px;
}
#addQuote h4 {
    font-weight: normal;
    margin-bottom: 30px;
    text-align: center;
}
.clearfix {
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
p.new-tags {
    margin-top: 10px;
}
form.new-tags {
    display: none;
}
form.new-tags .span3 {
    margin-left: 0;
}
.new-tags a {
    cursor: pointer;
}
.sidebar-box-list {
    display: table;
    margin: 0;
    width: 100%;
}
.sidebar-box-list .sidebar-title-link {
    color: #333333;
}
.sidebar-box-list .sidebar-title-link:hover {
    color: #46a546;
}
.sidebar-box-list li {
    display: table-row;
}
.sidebar-box-list li div {
    display: table-cell;
    padding: 5px;
    vertical-align: middle;
}
.sidebar-box-list li div.check-input {
    color: #999999;
    text-align: center;
    vertical-align: top;
    width: 30px;
}
.sidebar-box-list li div.check-input .base-icons.hot {
    color: #f89406;
}
.sidebar-box-list li div.edit-list-item {
    color: #999999;
    position: relative;
    text-align: right;
    white-space: nowrap;
}
.sidebar-box-list li div.edit-list-item ul.dropdown-menu {
    text-align: left;
}
.sidebar-box-list li div.edit-list-item ul.dropdown-menu .divider {
    display: block;
}
.sidebar-box-list li div.edit-list-item ul.dropdown-menu.open {
    display: block;
}
.sidebar-box-list li div.edit-list-item a.action-icon {
    display: inline-block;
    padding: 4px;
    visibility: hidden;
}
.sidebar-box-list li:hover div.edit-list-item a.action-icon {
    color: #999999;
    visibility: visible;
}
.sidebar-box-list li:hover div.edit-list-item a.action-icon:hover {
    border-bottom: medium none;
    color: #8cbf26;
}
.sidebar-box-list li:hover div.edit-list-item a.action-icon.remove:hover {
    color: #eb212e;
}
.sidebar-box-list .timestamp {
    display: block;
    text-align: left;
}
.sidebar-box-list + .sidebar-box-list {
    border-top: 1px solid #eeeeee;
    margin-top: 10px;
    padding-top: 10px;
}
.clearfix {
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
p.new-tags {
    margin-top: 10px;
}
form.new-tags {
    display: none;
}
form.new-tags .span3 {
    margin-left: 0;
}
.new-tags a {
    cursor: pointer;
}
.sidebar-box-list li.quote {
    display: table;
    width: 100%;
}
.sidebar-box-list li.quote .action-toolbar {
    padding: 10px 4px 10px 10px;
}
.sidebar-box-list li.quote .action-toolbar h4 {
    margin-top: 6px;
}
.sidebar-box-list li.quote div.quoteRow {
    display: table-row;
}
.sidebar-box-list li.quote .sidebar-proposal-details {
    color: #aaaaaa;
    font-size: 12px;
    font-weight: normal;
    padding: 0;
}
.sidebar-box-list li.quote .sidebar-proposal-details p {
    font-size: 11px;
    margin: 0;
}
.sidebar-box-list li.quote .sent {
    color: #049cdb;
}
.sidebar-box-list li.quote .accepted {
    color: #8cbf26;
}
.sidebar-box-list li.quote .declined {
    color: #eb212e;
}
.sidebar-box-list li.quote .delete-quote {
    color: #888888;
    display: none;
    float: right;
    font-size: 18px;
}
.sidebar-box-list li.quote .delete-quote:hover {
    color: #db1e3c;
}
.sidebar-box-list li.quote:hover {
    cursor: default;
}
.sidebar-box-list li.quote:hover .amount {
    display: none;
}
.sidebar-box-list li.quote:hover .delete-quote {
    display: block;
}
.sidebar-box-list li.quote .sidebar-item-info-new .sidebar-title-link {
    color: #dddddd;
}
.sidebar-box-list li.quote .sidebar-item-info-destroyed .sidebar-title-link {
    color: #ffcccc;
}
#addProposal .modal-body {
    max-height: 450px;
}
#addProposal img {
    margin: 10px;
    width: 42px;
}
#addProposal h4 {
    font-weight: normal;
    margin-bottom: 30px;
    text-align: center;
}
.emptyRepository {
    padding: 10px 10%;
    text-align: left;
}
.emptyRepository #no-padding {
    line-height: 18px;
    padding-left: 0;
    vertical-align: middle;
}
.emptyRepository #no-padding .pull-left {
    margin-left: 6px;
    margin-right: 9px;
}
.emptyRepository i {
    float: left;
    font-size: 40px;
    margin-right: 10px;
}
.emptyRepository .empty-quote-text {
    display: inline-block;
}
.quote.destroyed .sidebar-title-link {
    color: #ffcccc;
}
.notificationList p {
    color: #ffaaaa;
    padding: 10px 20px 20px;
    text-align: center;
}
.visible {
    display: block;
}
.hidden {
    display: none;
}
.list-container .item.overview-item {
    min-height: 72px;
}
.list-container .item.overview-item .custom-field-data {
    min-height: 18px;
}
.title-bar strong {
    font-size: 12px;
}
.clearfix {
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.ui-autocomplete {
    border: 1px solid #cccccc;
    list-style: none outside none;
    max-width: 300px;
}
.ui-autocomplete li {
    outline: medium none;
}
.ui-autocomplete li a {
    background-color: white;
    cursor: pointer;
    display: block;
    font-weight: bold;
    outline: medium none;
    padding: 6px;
}
.ui-autocomplete li a.ui-state-hover {
    background-color: #cccccc;
}
.ui-autocomplete li a.instruction {
    color: #cccccc;
    cursor: auto;
    font-weight: normal;
}
.ui-autocomplete li a.instruction:hover {
    text-decoration: none;
}
.ui-autocomplete li a.instruction.ui-state-hover {
    background-color: white;
}
.alert-center {
    left: 50%;
    margin: 0;
    position: fixed;
    top: 50%;
}
.feed-list {
    border: 0 none !important;
    margin: 0;
    padding: 0 !important;
}
.feed-list .header {
    border: medium none;
    padding: 0;
}
.feed-list .feed-items {
    margin: 0;
}
.hide {
    display: none;
}
.cancel, .cancel-new {
    cursor: pointer;
}
.updates-note-form textarea {
    resize: vertical;
}
.quote .sidebar-proposal-details {
    color: #aaaaaa;
    font-size: 12px;
    font-weight: normal;
}
.quote .sidebar-proposal-details span {
    border-left: 1px solid #bcc4c8;
    margin-left: 6px;
    padding-left: 6px;
    visibility: hidden;
}
.quote .accepted {
    color: #8cbf26;
}
.quote .declined {
    color: #eb212e;
}
.quote:hover {
    visibility: visible;
}
#addQuote .modal-body {
    max-height: 450px;
}
#addQuote img {
    margin: 10px;
    width: 42px;
}
#addQuote h4 {
    font-weight: normal;
    margin-bottom: 30px;
    text-align: center;
}
p.new-tags {
    margin-top: 10px;
}
form.new-tags {
    display: none;
}
form.new-tags .span3 {
    margin-left: 0;
}
.new-tags a {
    cursor: pointer;
}
.task-completed {
    color: #aaaaaa;
    text-decoration: line-through;
}
.sidebar-section h5.tasks-group-label {
    font-size: 14px;
    margin: 15px 0 5px;
}
.sidebar-section .task-sidebar-item ul {
    margin: 0 0 9px;
}
.sidebar-section .task-sidebar-item li {
    list-style-type: none;
    margin: 0;
}
.sidebar-section .task-sidebar-item li:hover a.edit-task {
    display: inline;
}
.sidebar-section .task-sidebar-item li a.edit-task {
    display: none;
}
.overdue, .remove {
    color: #eb212e;
}
.clearfix {
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.dashboard-widget, .dashboard-stats .stat {
    background: none repeat scroll 0 0 #fafafa;
    border: 1px solid #eeeeee;
    border-radius: 6px;
    margin-bottom: 15px;
    padding: 14px;
}
.dashboard-widget h2, .dashboard-stats .stat h2 {
    font-size: 36px;
    line-height: 44px;
}
.dashboard-widget h3 span, .dashboard-widget h4 span, .dashboard-stats .stat h3 span, .dashboard-stats .stat h4 span {
    font-weight: normal;
}
.dashboard-widget .item, .dashboard-stats .stat .item {
    margin-top: 10px;
}
.dashboard-widget .item a, .dashboard-widget .item p, .dashboard-stats .stat .item a, .dashboard-stats .stat .item p {
    font-size: 11px;
}
.dashboard-widget .item .value, .dashboard-stats .stat .item .value {
    color: #888888;
}
.dashboard-widget .line, .dashboard-stats .stat .line {
    margin-top: 10px;
}
.dashboard-team-deal-load h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#dashboard-activities .list-head {
    font-size: 12px;
    text-align: center;
}
#dashboard-activities .list-head select {
    margin: 0 4px;
    padding-bottom: 0;
}
#dashboard-activities .user-filter {
    margin-bottom: 0.5em;
    text-align: right;
}
#dashboard-activities .user-filter div {
    text-align: left;
}
.dashboard-widget.goals .goal-status-chart text.current-count, .dashboard-widget.goals .goal-status-chart text.date-range {
    font-size: 11px;
    text-anchor: end;
}
.dashboard-widget.goals .goal-status-chart text.date-range {
    fill: #666666;
}
.dashboard-widget.goals .upgrade {
    font-size: 14px;
    font-weight: bold;
}
.clearfix {
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
p.new-tags {
    margin-top: 10px;
}
form.new-tags {
    display: none;
}
form.new-tags .span3 {
    margin-left: 0;
}
.new-tags a {
    cursor: pointer;
}
#sidebar {
    position: relative;
    top: 13px;
}
#sidebar.push-down {
    top: 48px;
}
#sidebar.extra-push-down {
    padding-top: 50px;
}
#deals-list .info {
    width: 300px;
}
.deals-list-header {
    overflow: visible;
}
.deals-list-header > div {
    overflow: visible;
}
.deals-list-header .contact_name input[disabled] {
    cursor: default;
    padding-right: 22px;
}
.deals-list-header .contact_name select {
    height: 20px;
}
.deals-list-header .contact_name .chzn-container a {
    line-height: 22px;
    padding-bottom: 6px;
    padding-top: 6px;
}
.deals-list-header .contact_name .chzn-container .chzn-search input[type="text"] {
    height: auto;
}
.deals-list-header .contact_name .chzn-container .chzn-results li {
    border: 0 none;
    display: block;
}
#container .row-fluid .list-container.deals-list .empty .help-arrows {
    margin-bottom: 20px !important;
    margin-left: -35px !important;
}
.list-container li.item .hot-selector, .list-container > .deal-inline-edit .hot-selector {
    margin: 0 5px 0 2px;
    padding: 0 0 20px 18px;
}
.deals-list .contextual-add-row {
    overflow: visible;
}
.deals-list .contextual-add-row form {
    margin: 0;
}
.deals-list .contextual-add-row form span.x {
    background-color: #eeeeee;
    cursor: pointer;
    display: none;
    font-size: 14px;
    margin-left: -25px;
    margin-top: 6px;
    padding: 5px 3px;
    position: absolute;
}
.deals-list .contextual-add-row p.alert {
    margin-bottom: 0;
    margin-top: 10px;
}
#dropzone {
    margin-top: 3px;
    position: fixed;
}
#dropzone > div {
    height: 100%;
}
.stage-move {
    border-radius: 3px;
    padding: 8px;
    text-align: center;
    transition: all 0.1s ease-in 0s;
}
.stage-move > table {
    height: 100%;
    width: 100%;
}
.stage-move h5 {
    font-size: 12px;
    font-weight: normal;
    margin-top: 4px;
}
.stage-move.hover1 {
    background: none repeat scroll 0 0 #f6f6f6;
    color: #aaaaaa;
}
.stage-move.hover1 h6 {
    color: #aaaaaa;
}
.stage-move.drag2 {
    background: none repeat scroll 0 0 #dddddd;
    color: #666666;
}
.stage-move.drag2 h6 {
    color: #666666;
}
.stage-move.drophover3, .stage-move.success4 {
    background: none repeat scroll 0 0 #8cbf26;
    color: white;
}
.stage-move.drophover3 h6, .stage-move.success4 h6 {
    color: white;
}
.stage-move.closure {
    margin-bottom: 10px;
}
.stage-move.closure.unqualified, .stage-move.closure.lost {
    height: 100px;
}
.stage-move.closure.hover1.won {
    background: none repeat scroll 0 0 #f5fbe9;
}
.stage-move.closure.hover1.lost {
    background: none repeat scroll 0 0 #fcdcde;
}
.stage-move.closure.drag2.won {
    background: none repeat scroll 0 0 #b9e16a;
}
.stage-move.closure.drag2.lost {
    background: none repeat scroll 0 0 #f37f86;
}
.stage-move.closure.drophover3.lost, .stage-move.closure.success4.lost {
    background: none repeat scroll 0 0 #ef505a;
}
.deals-list .item input[type="checkbox"] {
    display: none;
}
.deals-list .item.selected input[type="checkbox"], .deals-list .item:hover input[type="checkbox"] {
    display: block;
}
.deals-list .name-link {
    color: #333333;
    text-decoration: none;
}
#client-space #portal-container iframe {
    width: 100%;
}
.forecasting .win-likelihood .edit input {
    display: inline;
    margin: 0;
}
.forecasting .win-likelihood .edit input.invalid {
    border-color: #e9322d;
    box-shadow: 0 0 6px #f8b9b7;
}
#dashboard-lists .item h4 {
    cursor: pointer;
}
#overview-extras {
    width: 181px;
}
#loss-reason-modal {
    overflow: visible;
}
#loss-reason-modal .modal-body {
    overflow: visible;
}
.deal-info {
    position: relative;
}
.deal-info .deal-stage-name {
    bottom: 5px;
    color: #888888;
    font-size: 11px;
    position: absolute;
    right: 150px;
}
.deal-value {
    color: #888888;
}
.deal-value .symbol {
    font-weight: bold;
    margin-right: 2px;
}
.new-deal-form .contact_name input[disabled] {
    padding-right: 22px !important;
}
.new-deal-form .tags-select {
    margin-top: 0.2em;
}
.new-deal-form .tags-select span {
    display: inline-block;
    margin-right: 0.7em;
}
.new-deal-form .tags-select input {
    font-size: 1em !important;
    height: 1.8em !important;
    padding: 2px 5px !important;
    width: 350px;
}
.new-deal-form .tags-select .chzn-container {
    font-size: 0.9em;
    vertical-align: middle;
}
.new-deal-form .tags-select .chzn-container .chzn-choices {
    border-color: #cccccc;
    border-radius: 3px;
}
.currency-wrapper {
    position: relative;
}
.currency-wrapper .currency-text {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 18px;
    position: absolute;
    top: 10px;
}
.currency-wrapper .caret {
    left: 45px;
    position: absolute;
    top: 15px;
}
.currency-wrapper select.currency-select {
    opacity: 0;
    position: absolute;
    text-transform: capitalize;
    width: 60px;
}
form.edit-deal-form .currency-wrapper {
    top: -5px;
}
.ui-autocomplete .with-icon {
    background-position: 8px 50%;
    background-repeat: no-repeat;
    padding-left: 25px;
}
.ui-autocomplete .subcontact {
    background-position: 25px 50%;
    padding-left: 42px;
}
.ui-autocomplete .create.company {
    border-top: 1px solid #cccccc;
}
.deal-essentials .deal-value .tip {
    display: none;
}
.deal-essentials .deal-value .display:hover .tip {
    display: inline !important;
}
.deal-essentials .deal-value input {
    margin: 0;
    width: 50%;
}
.item.s-empty-stage {
    padding-bottom: 10px !important;
    padding-top: 20px !important;
}
.s-empty-stage .help-arrows {
    color: rgba(221, 221, 221, 0.8);
    font-size: 14px;
    margin: 0 0 10px;
    text-shadow: 1px 1px white, 0 0 #cccccc, 1px 1px 2px white;
}
.s-empty-stage .help-arrows i {
    font-size: 24px;
}
#container .row-fluid .list-container.deals-list .empty .help-arrows.empty {
    margin-left: -7px !important;
}
.form-condensed .email-area {
    width: 100%;
}
.form-condensed .email-area textarea {
    margin-bottom: 0;
    resize: vertical;
}
.form-condensed .email-area .base-message {
    padding: 0 10px;
    width: 100%;
}
.email-area {
    width: 500px;
}
.email-area textarea {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.email-area textarea.input-xlarge {
    width: 500px;
}
.email-area textarea {
    width: 100%;
}
.email-area .base-message {
    background-color: #eeeeee;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-color: -moz-use-text-color #cccccc #cccccc;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    display: block;
    font-weight: normal;
    margin-bottom: 10px;
    padding: 0 10px;
    width: 100%;
}
.email-area .base-message div {
    line-height: 32px;
}
.harvest-project-modal img {
    float: right;
}
.harvest-project-form .budget-notification input[type="checkbox"] {
    position: relative;
    top: -0.1em;
}
.harvest-project-form .budget-notification input.percentage {
    text-align: center;
    width: 2.5em;
}
.harvest-project-form .budget-notification label {
    display: inline;
}
.harvest-project-form textarea {
    resize: vertical;
}
.modal.no-overflow, .modal.no-overflow .modal-body {
    overflow: visible !important;
}
.company-modal-form .input-small {
    width: 81px;
}
.company-modal-form .input-medium {
    width: 129px;
}
.company-modal-form select.input-xlarge {
    width: 282px;
}
.clearfix {
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
p.new-tags {
    margin-top: 10px;
}
form.new-tags {
    display: none;
}
form.new-tags .span3 {
    margin-left: 0;
}
.new-tags a {
    cursor: pointer;
}
.sidebar-box-list li.quote {
    display: table;
    width: 100%;
}
.sidebar-box-list li.quote .action-toolbar {
    padding: 10px 4px 10px 10px;
}
.sidebar-box-list li.quote .action-toolbar h4 {
    margin-top: 6px;
}
.sidebar-box-list li.quote div.quoteRow {
    display: table-row;
}
.sidebar-box-list li.quote .sidebar-proposal-details {
    color: #aaaaaa;
    font-size: 12px;
    font-weight: normal;
    padding: 0;
}
.sidebar-box-list li.quote .sidebar-proposal-details p {
    font-size: 11px;
    margin: 0;
}
.sidebar-box-list li.quote .sent {
    color: #049cdb;
}
.sidebar-box-list li.quote .accepted {
    color: #8cbf26;
}
.sidebar-box-list li.quote .declined {
    color: #eb212e;
}
.sidebar-box-list li.quote .delete-quote {
    color: #888888;
    display: none;
    float: right;
    font-size: 18px;
}
.sidebar-box-list li.quote .delete-quote:hover {
    color: #db1e3c;
}
.sidebar-box-list li.quote:hover {
    cursor: default;
}
.sidebar-box-list li.quote:hover .amount {
    display: none;
}
.sidebar-box-list li.quote:hover .delete-quote {
    display: block;
}
.sidebar-box-list li.quote .sidebar-item-info-new .sidebar-title-link {
    color: #dddddd;
}
.sidebar-box-list li.quote .sidebar-item-info-destroyed .sidebar-title-link {
    color: #ffcccc;
}
#addProposal .modal-body {
    max-height: 450px;
}
#addProposal img {
    margin: 10px;
    width: 42px;
}
#addProposal h4 {
    font-weight: normal;
    margin-bottom: 30px;
    text-align: center;
}
.emptyRepository {
    padding: 10px 10%;
    text-align: left;
}
.emptyRepository #no-padding {
    line-height: 18px;
    padding-left: 0;
    vertical-align: middle;
}
.emptyRepository #no-padding .pull-left {
    margin-left: 6px;
    margin-right: 9px;
}
.emptyRepository i {
    float: left;
    font-size: 40px;
    margin-right: 10px;
}
.emptyRepository .empty-quote-text {
    display: inline-block;
}
.quote.destroyed .sidebar-title-link {
    color: #ffcccc;
}
.notificationList p {
    color: #ffaaaa;
    padding: 10px 20px 20px;
    text-align: center;
}
.file-integration-button-container {
    padding: 10px;
    text-align: center;
}
.file-integration-button-container button {
    padding: 7px 20px;
}
.stage-tabs .header {
    padding-top: 1px;
}
.stage-tabs .main-item .count {
    color: #91be6d;
    display: block;
    font-size: 15px;
    font-weight: bold;
}
.stage-tabs .active > a .count {
    color: #828282;
}
.stage-tabs .open > a .count {
    color: white;
}
.stage-tabs .dropdown .dropdown-menu li a:hover, .stage-tabs .dropdown .dropdown-menu li a:focus {
    background: none repeat scroll 0 0 #8cbf26;
}
.stage-tabs .dropdown .dropdown-menu li.active a {
    background: none repeat scroll 0 0 #8cbf26;
}
.stage-tabs .dropdown-menu a {
    padding-right: 55px;
    position: relative;
}
.stage-tabs .dropdown-menu a:hover .count {
    color: white !important;
}
.stage-tabs .dropdown-menu .count {
    position: absolute;
    right: 15px;
}
.nav.nav-tabs.stage-tabs li.open > a span {
    color: white;
}
.title-bar .nav-tabs li.active.open a.dropdown-toggle {
    background-color: #888888;
    border-color: #888888;
    color: white;
}
.choose-tag-filter .label .main {
    display: inline-block;
    max-width: 280px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.active-filters .label {
    display: inline-block;
    max-width: 320px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tasks-popover .chzn-container {
    margin-bottom: 9px;
}
.tasks-popover .chzn-single {
    height: 27px;
    line-height: 28px;
    top: -3px;
}
.tasks-popover select[name="due-time"] {
    width: 91px;
}
.clearfix {
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
p.new-tags {
    margin-top: 10px;
}
form.new-tags {
    display: none;
}
form.new-tags .span3 {
    margin-left: 0;
}
.new-tags a {
    cursor: pointer;
}
.sidebar-box-list {
    display: table;
    margin: 0;
    width: 100%;
}
.sidebar-box-list .sidebar-title-link {
    color: #333333;
}
.sidebar-box-list .sidebar-title-link:hover {
    color: #46a546;
}
.sidebar-box-list li {
    display: table-row;
}
.sidebar-box-list li div {
    display: table-cell;
    padding: 5px;
    vertical-align: middle;
}
.sidebar-box-list li div.check-input {
    color: #999999;
    text-align: center;
    vertical-align: top;
    width: 30px;
}
.sidebar-box-list li div.check-input .base-icons.hot {
    color: #f89406;
}
.sidebar-box-list li div.edit-list-item {
    color: #999999;
    position: relative;
    text-align: right;
    white-space: nowrap;
}
.sidebar-box-list li div.edit-list-item ul.dropdown-menu {
    text-align: left;
}
.sidebar-box-list li div.edit-list-item ul.dropdown-menu .divider {
    display: block;
}
.sidebar-box-list li div.edit-list-item ul.dropdown-menu.open {
    display: block;
}
.sidebar-box-list li div.edit-list-item a.action-icon {
    display: inline-block;
    padding: 4px;
    visibility: hidden;
}
.sidebar-box-list li:hover div.edit-list-item a.action-icon {
    color: #999999;
    visibility: visible;
}
.sidebar-box-list li:hover div.edit-list-item a.action-icon:hover {
    border-bottom: medium none;
    color: #8cbf26;
}
.sidebar-box-list li:hover div.edit-list-item a.action-icon.remove:hover {
    color: #eb212e;
}
.sidebar-box-list .timestamp {
    display: block;
    text-align: left;
}
.sidebar-box-list + .sidebar-box-list {
    border-top: 1px solid #eeeeee;
    margin-top: 10px;
    padding-top: 10px;
}



